<div class="main-container">
  <div class="header">
    <h1>Publikáció bíráló weboldal</h1>
    <div class="links" *ngIf="getUserRank() == ''">
      <a routerLink="/login">Bejelentkezés</a>
      <a routerLink="/register">Regisztráció</a>
    </div>

    <!-- Biralo oldalai  -->
    <div class="biralo" *ngIf="getUserRank() == 'biralo'">
      <a routerLink="/viewPublicationList">Bírálatra vár</a>
      <a routerLink="/viewAccepted">Elfogadott bírálatok</a>
      <a routerLink="/viewRejected">Elutasított bírálatok</a>
    </div>

    <!-- Szerkeszto oldalai -->
    <div class="szerkeszto" *ngIf="getUserRank() == 'szerkeszto'">
      <a routerLink="/viewPublicationList">Publickáció értékelése</a>
    </div>

    <!-- Szerzo oldalai -->
    <div class="szerzo" *ngIf="getUserRank() == 'szerzo'">
      <a routerLink="/newPublication">Új publikáció</a>
      <a routerLink="/viewPublicationList">Publikációim</a>
    </div>

    <div class="logoutLink" *ngIf="getUserRank() != ''">
      <a routerLink="/logout">Kijelentkezés</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>