.header {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.main-container {
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

a {
  margin: 0 10px;
  background-color: black;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.logoutLink {
  margin-top: 15px;
  text-align: center;
}
