h1 {
  color: blue;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.register_container {
  margin: auto;
  text-align: center;
}

input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  width: 100px;
  padding: 5px;
  margin-bottom: 20px;
}
