<body class="register_container">
  <h1>Regisztráció</h1>
  <form class="register_form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input formControlName="email" type="email" placeholder="Email" required
      [ngClass]="{'invalid-input': signupForm.get('email')?.errors}" />
    <div
      *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
      <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['required']">Email is required.</p>
      <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['email']">Please enter a valid
        email.</p>
    </div>
    <br>
    <input formControlName="name" type="text" placeholder="Name" />
    <br>
    <input formControlName="pass" type="password" placeholder="Password" required
      [ngClass]="{'invalid-input': signupForm.get('pass')?.errors}" />
    <br>
    <div *ngIf="signupForm.get('pass')?.invalid && (signupForm.get('pass')?.dirty || signupForm.get('pass')?.touched)">
      <p *ngIf="signupForm.get('pass')?.errors && signupForm.get('pass')?.errors!['required']">Password is
        required.</p>
      <p *ngIf="signupForm.get('pass')?.errors && signupForm.get('pass')?.errors!['minlength']">Password must be
        at least 6 characters.</p>
    </div>
    <input formControlName="confirmPassword" type="password" placeholder="Confirm password" required
      [ngClass]="{'invalid-input': signupForm.get('confirmPassword')?.errors}" />
    <div
      *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)">
      <p *ngIf="signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.errors!['required']">
        Confirming password is required.</p>
      <p *ngIf="signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.errors!['mustMatch']">
        Passwords must match.</p>
    </div>
    <br>
    <div class="radio">
      <mat-radio-group formControlName="rank">
        <mat-radio-button value="biralo">Bíráló</mat-radio-button>
        <mat-radio-button value="szerkeszto">Szerkesztő</mat-radio-button>
        <mat-radio-button value="szerzo">Szerző</mat-radio-button>
      </mat-radio-group>
    </div>
    <button type="submit">Regisztráció</button>
  </form>
</body>
