h1 {
  color: blue;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.login_form {
  margin: 10px auto;
  text-align: center;
}

input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
