<div class="main-div">
  <div class="reviews" *ngIf="getUserRank() != 'biralo'; else elseBlock">
    <div class="reviewer">
      1. Bíráló:
      <div *ngIf="hozzarendeltBiralok[0] != undefined; else biro1else">
        {{hozzarendeltBiralok[0][0]}}. Értékelés: {{hozzarendeltBiralok[0][1]}}
      </div>
    </div>
    <ng-template class="no-reviewer" #biro1else>
      Jelenleg nincs kiválasztva.
    </ng-template>
    <div class="reviewer">
      2. Bíráló:
      <div *ngIf="hozzarendeltBiralok[1] != undefined; else biro2else">
        {{hozzarendeltBiralok[1][0]}}. Értékelés: {{hozzarendeltBiralok[1][1]}}
      </div>
    </div>
    <ng-template class="no-reviewer" #biro2else>
      Jelenleg nincs kiválasztva.
    </ng-template>
    <div *ngIf="bothBiraloAccepted() == 1" class="accepted-text">
      <h2>A publikációt mindkét bíráló elfogadta!</h2>
    </div>
    <div *ngIf="bothBiraloAccepted() == 2" class="rejected-text">
      <h2>A publikációt legalább az egyik bíráló elutasította!</h2>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="submit-review">
      <h2>Bírálat beküldése</h2>
      <form>
        <button class="review-button" type="submit" (click)="acceptReview()">Elfogadás</button>
        <button class="review-button" type="submit" (click)="rejectReview()">Elutasítás</button>
      </form>
    </div>
  </ng-template>
  <div class="publication-content">
    <h1>{{pubName}}</h1>
    <p>{{pubContent}}</p>
  </div>

  <div *ngIf="getUserRank() != 'szerkeszto'">
    <div *ngIf="reviewContent == ''; else elseBlock">
      Nem érkezett még értékelés.
    </div>
    <ng-template #elseBlock>
      <div class="review-content">
        Szerkesztő értékelése:
        <p>
          {{reviewContent}}
        </p>
      </div>
    </ng-template>
  </div>


  <div class="szerkesztoReview" *ngIf="getUserRank() == 'szerkeszto'">
    <form (ngSubmit)="saveReview()">
      <div class="velemenyezesLabel">Véleményezés:</div>
      <textarea id="review" rows="10" class="review-input">{{reviewContent}}</textarea><br>
      <button class="submit-button" type="submit">Bírálat beküldése</button>
      <div class="overlay" *ngIf="reviewSaved">
        Bírálat elküldve
      </div>
    </form>
  </div>

  <div class="overlay" *ngIf="this.biraloSet">
    Bíráló sikeresen beállítva!
  </div>

  <div class="select-reviewers" *ngIf="getUserRank() == 'szerkeszto'">
    <form (ngSubmit)="setBiralo1()" class="biralo-select">
      <label for="biralo_1">1. bíráló kiválasztása: </label>
      <select id="biralo_1" name="biralok" class="dropdown">
        <option *ngFor="let biralo of biraloLista" value="{{biralo.email}}">{{biralo.name}} ({{biralo.email}})</option>
      </select>
      <button class="submit-button" type="submit">1. Bíráló mentése</button>
    </form>

    <form (ngSubmit)="setBiralo2()" class="biralo-select">
      <label for="biralo_2">2. bíráló kiválasztása: </label>
      <select id="biralo_2" name="biralok" class="dropdown">
        <option *ngFor="let biralo of biraloLista" value="{{biralo.email}}">{{biralo.name}} ({{biralo.email}})</option>
      </select>
      <button class="submit-button" type="submit">2. Bíráló mentése</button>
    </form>
  </div>
</div>